body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

p {
  text-align: center;
}

.container {
  max-width: 400px;
  margin: 40px auto;
}


h1, h2 {
  text-align: center;
}


form {
  background: white;
  padding: 20px;
  border-radius: 6px;
  border: 1px solid #ddd;
}


input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}


form button {
  width: 100%;
  padding: 8px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

form button:hover {
  background-color: #555;
}


a {
  color: #333;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}


/*  Listes MDP  */

.password-list {
  margin-top: 20px;
}


.password-item {
  background: white;
  border: 1px solid #747272;
  border-radius: 8px;
  padding: 12px 16px;
  margin-bottom: 12px;
}


.password-item .buttons {
  display: flex;
  justify-content: center;
  gap: 8px; 
  margin-top: 10px;
}


.password-item button {
  padding: 6px 12px;
  font-size: 13px;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid #acabab;
  background-color: #f0f0f0;;
}


.password-item button:hover {
  background-color: #e0e0e0;
}
